.board {
    position: relative;
    width: 1200px;
    margin: 50px auto 50px auto;
    background: linear-gradient(
		241.22deg,
		#BA7530 3.04%,
		rgba(255, 140, 125, 0.781) 97.58%
	);
	box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.25);
}