@import "../../style/variables.scss";

.appointment {
	position: relative;
	padding: 15px;
	background-color: $bg-color;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
	display: grid;
	grid-template-columns: 225px auto;
	column-gap: 110px;
	&__timer {
		display: block;
		font-size: 21px;
		line-height: 33px;
		margin-top: 15px;
		color: rgba(0, 0, 0, 0.7);
	}
	span:not(.appointment__timer) {
		display: block;
		font-weight: 600;
		font-size: 15px;
		line-height: 20px;
		color: rgba(0, 0, 0, 0.7);
	}
	span:not(:first-child, .appointment__timer) {
		margin-top: 10px;
	}
	&__cancel,
	&__canceled {
		position: absolute;
		width: 75px;
		height: 20px;
		right: 15px;
		bottom: 15px;
		padding: 2px 0;
		background: $btn-color;
		border: 1px solid rgba(0, 0, 0, 0.4);
		font-weight: 600;
		font-size: 12px;
		line-height: 16px;
		text-align: center;
		color: rgba(0, 0, 0, 0.7);
	}
	&__cancel {
		cursor: pointer;
		transition: 0.3s all;
		&:hover {
			color: #fff;
			background-color: $cancel;
		}
		&:disabled {
			color: #fff;
			background-color: $inputs;
			border: none;
		}
	}
}
